# Information Retrieval
InformationRetrieval/Reuters*/*
InformationRetrieval/*/src/*.exe
InformationRetrieval/*/.vs/*
InformationRetrieval/*/bin/*
InformationRetrieval/*/obj/*

# Operating Systems
OperatingSystems/*/.vs/*
OperatingSystems/*/bin/*
OperatingSystems/*/obj/*

# Computer architecture
ComputerArch/*/*.exe
ComputerArch/*/*.obj
ComputerArch/*/*.txt
ComputerArch/*/*.tr
ComputerArch/*/*.td